name: CI

on:
  push:
    branches:
      - main
      - release-*
  workflow_dispatch: {}
  # NOTE(phisco): this means we'll pass secrets to prs from forks too, so might
  # be risky. To mitigate the risk, we need to keep the setting "Approval for
  # running fork pull request workflows from contributors" to "Require approval
  # for all external contributors".
  pull_request_target: {}

env:
  DOCKER_BUILDX_VERSION: 'v0.8.2'
  UPBOUND_MARKETPLACE_PUSH_ROBOT_USR: ${{ secrets.UPBOUND_MARKETPLACE_PUSH_ROBOT_USR }}
  AWS_USR: ${{ secrets.AWS_USR }}
  GO_VERSION: '1.24.3'
  XPKG_SPACES_ARTIFACTS_ACCESS_ID: ${{ secrets.XPKG_SPACES_ARTIFACTS_ACCESS_ID }}

jobs:
  detect-noop:
    runs-on: ubuntu-22.04
    outputs:
      noop: ${{ steps.noop.outputs.should_skip }}
    steps:
      - name: Detect No-op Changes
        id: noop
        uses: fkirc/skip-duplicate-actions@0c0fd7dfd27f1de7871e98791077b9ae5f1d8757 # v2.2.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          paths_ignore: '["**.md", "**.png", "**.jpg"]'
          do_not_skip: '["workflow_dispatch", "schedule", "push"]'
          concurrent_skipping: false

  check-diff:
    runs-on: ubuntu-22.04
    needs: detect-noop
    if: needs.detect-noop.outputs.noop != 'true'

    steps:
      - name: Configure Git credentials for private repositories
        run: |
          git config --global url."https://upbound-bot:${{ secrets.UPBOUND_BOT_GITHUB_TOKEN }}@github.com".insteadOf "https://github.com"

      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          token: ${{ secrets.UPBOUND_BOT_GITHUB_TOKEN }}

      - name: Login to Upbound
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3
        if: env.UPBOUND_MARKETPLACE_PUSH_ROBOT_USR != ''
        with:
          registry: xpkg.upbound.io
          username: ${{ secrets.UPBOUND_MARKETPLACE_PUSH_ROBOT_USR }}
          password: ${{ secrets.UPBOUND_MARKETPLACE_PUSH_ROBOT_PSW }}

      - name: Login to Upbound with Helm
        if: env.UPBOUND_MARKETPLACE_PUSH_ROBOT_USR != ''
        run: |
          echo ${{ secrets.UPBOUND_MARKETPLACE_PUSH_ROBOT_PSW }} | helm registry login xpkg.upbound.io --username ${{ secrets.UPBOUND_MARKETPLACE_PUSH_ROBOT_USR }} --password-stdin

      - name: Setup Go
        uses: useblacksmith/setup-go@647ac649bd5b480f2a262e3e3e5f4d150ed452ad # v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Check Diff
        run: make check-diff

  publish-artifacts:
    runs-on: ubuntu-22.04
    needs: detect-noop
    if: needs.detect-noop.outputs.noop != 'true'

    steps:
      - name: Configure Git credentials for private repositories
        run: |
          git config --global url."https://upbound-bot:${{ secrets.UPBOUND_BOT_GITHUB_TOKEN }}@github.com".insteadOf "https://github.com"

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: ${{ env.DOCKER_BUILDX_VERSION }}
          install: true

      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          token: ${{ secrets.UPBOUND_BOT_GITHUB_TOKEN }}

      - name: Fetch History
        run: git fetch --prune --unshallow

      - name: Login to Upbound
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3
        if: env.UPBOUND_MARKETPLACE_PUSH_ROBOT_USR != ''
        with:
          registry: xpkg.upbound.io
          username: ${{ secrets.UPBOUND_MARKETPLACE_PUSH_ROBOT_USR }}
          password: ${{ secrets.UPBOUND_MARKETPLACE_PUSH_ROBOT_PSW }}

      - name: Login to Upbound with Helm
        if: env.UPBOUND_MARKETPLACE_PUSH_ROBOT_USR != ''
        run: |
          echo ${{ secrets.UPBOUND_MARKETPLACE_PUSH_ROBOT_PSW }} | helm registry login xpkg.upbound.io --username ${{ secrets.UPBOUND_MARKETPLACE_PUSH_ROBOT_USR }} --password-stdin

      - name: Setup Go
        uses: useblacksmith/setup-go@647ac649bd5b480f2a262e3e3e5f4d150ed452ad # v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Generate and build the chart
        run: make generate build.all
        env:
          # We're using docker buildx, which doesn't actually load the images it
          # builds by default. Specifying --load does so.
          BUILD_ARGS: "--load"

      - name: Publish Artifacts
        if: env.AWS_USR != '' && env.UPBOUND_MARKETPLACE_PUSH_ROBOT_USR != '' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release-'))
        run: make publish BRANCH_NAME=${GITHUB_REF##*/}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_USR }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_PSW }}
          AWS_DEFAULT_REGION: us-west-2
          GIT_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Promote Artifacts in S3 and Marketplace
        if: env.AWS_USR != '' && env.UPBOUND_MARKETPLACE_PUSH_ROBOT_USR != '' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release-'))
        run: make -j2 promote
        env:
          BRANCH_NAME: main
          CHANNEL: main
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_USR }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_PSW }}
          AWS_DEFAULT_REGION: us-east-1


      - name: Publish Artifacts to GitHub
        uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4
        with:
          name: output
          path: _output/**

  mirror-spaces-artifacts:
    runs-on: ubuntu-22.04
    needs: publish-artifacts
    if: (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release-'))

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Fetch History
        run: git fetch --prune --unshallow

      - name: Set Crossplane Version
        run: make get-versions > $GITHUB_ENV

      - name: Setup Crane
        uses: imjasonh/setup-crane@v0.4

      - name: Login to Spaces Artifacts Registry
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3
        if: env.XPKG_SPACES_ARTIFACTS_ACCESS_ID != ''
        with:
          registry: xpkg.upbound.io/spaces-artifacts
          username: ${{ secrets.XPKG_SPACES_ARTIFACTS_ACCESS_ID }}
          password: ${{ secrets.XPKG_SPACES_ARTIFACTS_TOKEN }}

      - name: Copy Upbound Crossplane images to Spaces Artifacts Registry
        if: env.XPKG_SPACES_ARTIFACTS_ACCESS_ID != ''
        run: |
          # the crossplane image, tag should have v prefix
          crane cp xpkg.upbound.io/upbound/crossplane:${CROSSPLANE_VERSION} xpkg.upbound.io/spaces-artifacts/crossplane:${CROSSPLANE_VERSION}
          # the helm chart, tag should NOT have v prefix
          crane cp xpkg.upbound.io/upbound/crossplane:${HELM_CHART_VERSION} xpkg.upbound.io/spaces-artifacts/crossplane:${HELM_CHART_VERSION}
